body {
    margin: 5% auto; 
    background-color: #072f55; color: #dddddd; 
    font-family:  "Segoe UI"; font-size: 18px; 
    line-height: 1.8; text-shadow: 4px 3px 3px #252020; 
    max-width: 75%;}
code {background: white;}
.light-mode {
    background-color: rgb(207, 218, 226);
    color: black;
    text-shadow: 1px 1px 1px #072f55; 
}
